@import "../../scss/abstracts/mixins"; // Asegúrate de que este import esté en la parte superior si `respond-to` está en un archivo separado

.containerProjects {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se alineen verticalmente en pantallas pequeñas */
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    width: 100%; /* Asegura que el contenedor use el ancho completo disponible */
    @include respond-to(mobile) {
        margin-top: 100px; /* Ajusta el margen superior para pantallas más pequeñas */
    }
}
.containerCardProjects {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    @include respond-to(mobile) {
        flex-direction: column;
    }
}
.projectUrl{
    list-style: none;
    text-decoration: none;
}