@import '../../scss/abstracts/mixins'; 

.titleStudie {
    margin-left: 20px;

    h1 {
        font-size: 22px;
        color: #00688E;
    }
}

.rolStudie {
    margin: 0 40px;

    h2 {
        font-size: 16px;
    }
}

.descripStudie {
    margin: 0 60px;

    p {
        text-align: justify;
        font-size: 15px;
        margin-bottom: 60px;
    }
}
