/* Studie.scss */

.titleStudie {
    margin-left: 20px;

    h1 {
        font-size: 22px;
        color: #00688E;
    }
}

.rolStudie {
    margin: 0 40px;

    h2 {
        font-size: 16px;
    }
}

.descripStudie {
    margin: 0 60px;

    p {
        text-align: justify;
        font-size: 15px;
        margin-bottom: 60px;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .titleStudie {
        margin-left: 10px;

        h1 {
            font-size: 18px;
        }
    }

    .rolStudie {
        margin: 0 20px;

        h2 {
            font-size: 14px;
        }
    }

    .descripStudie {
        margin: 0 20px;

        p {
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 480px) {
    .titleStudie {
        margin-left: 5px;

        h1 {
            font-size: 16px;
        }
    }

    .rolStudie {
        margin: 0 10px;

        h2 {
            font-size: 12px;
        }
    }

    .descripStudie {
        margin: 0 10px;

        p {
            font-size: 12px;
            margin-bottom: 20px;
        }
    }
}
